<app-title title="Results"></app-title>

<nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
  <ul>
    <li class="is-active">
      <a aria-current="page">Results</a>
    </li>
  </ul>
</nav>

<form class="columns my-3 is-justify-content-space-between is-vcentered is-multiline is-mobile" novalidate
  (submit)="!loading && runSearch()"
  >
  <div class="column is-sm mr-sm-1 is-full-mobile">
    <div class="field has-addons">
      <div class="control is-expanded has-icons-right">
        <input type="string" class="input search-input is-secondary"
          id="search" name="search"
          placeholder="Search by ID"
          i18n-placeholder="@@results.list.search.input"
          [(ngModel)]="search"
          [disabled]="loading"
        >
        <a class="icon is-small is-right"
          [class.is-hidden]="!search"
          (click)="search = ''; runSearch();"
        >
          <fa-icon icon="times"></fa-icon>
        </a>
      </div>
      <div class="control">
        <button class="button is-secondary is-no-shadow" [disabled]="loading" type="submit">
          <fa-icon icon="search"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="field has-addons">
      <div class="control">
        <a class="button is-primary" routerLink="./new">
          <fa-icon class="mr-2" icon="plus-circle"></fa-icon>
          <span>Use Wizard</span>
        </a>
      </div>
      <div class="control">
        <a class="button is-secondary"
          routerLink="./upload"
          ngbTooltip="Upload a File" placement="bottom" container="body"
        >
          <fa-icon icon="cloud-upload-alt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</form>

<div class="tabs mb-1">
  <ul>
    <li
      *ngFor="let tab of Tabs | keys"
      [class.is-active]="selectedTab === tab.value"
    >
      <a (click)="selectedTab = tab.value; runSearch()">
        {{tab.value | pluralize:2}}
      </a>
    </li>
  </ul>
</div>

<div class="table-actions columns is-vcentered my-2">
  <div class="column">
    <p class="has-text-secondary is-size-7 has-text-weight-semibold mt-2 mb-0">
      <span i18n="@@results.total">Showing</span>
      <span *ngIf="total > perPage" class="pl-1">{{offset + 1}} - {{offset + results.results.length}} of</span>
      <span class="px-1">{{total}} {{selectedTab | pluralize:total}}</span>
    </p>
  </div>

  <div class="column is-narrow has-text-right">
    <div class="dropdown is-right has-text-left"
      [class.is-active]="showSortBy"
      (clickOutside)="showSortBy = false"
    >
      <div class="dropdown-trigger" (click)="showSortBy = !showSortBy">
        <button class="button is-ghost" [class.is-active]="showSortBy"
          aria-haspopup="true" aria-controls="sort-menu"
        >
          <span class="icon is-small">
            <fa-icon icon="sort-amount-up-alt" aria-hidden="true"></fa-icon>
          </span>
          <span class="pl-2">Sort</span>
        </button>
      </div>
      <div class="dropdown-menu" id="sort-menu" role="menu">
        <div class="dropdown-content" (click)="showSortBy = false">
          <a class="dropdown-item"
            [class.is-active]="sortBy === 'id'"
            (click)="sort('id')"
          >
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')"></fa-icon>
            <span>ID</span>
          </a>
          <a class="dropdown-item"
            [class.is-active]="sortBy === 'createdOn'"
            (click)="sort('createdOn')"
          >
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')"></fa-icon>
            <span>Uploaded On</span>
          </a>
          <a class="dropdown-item"
            [class.is-active]="sortBy === 'recalculatedOn'"
            (click)="sort('recalculatedOn')"
          >
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')"></fa-icon>
            <span>Recalculated On</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="anchor" id="search-results"></div>

<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>
          <span>ID</span>
        </th>
        <th>
          <span>Uploaded On</span>
        </th>
        <th>
          <span>Recalculated On</span>
        </th>
        <th>
          <span>Models version</span>
        </th>
        <th>
          <span>Actions</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="6">
          <div class="has-text-centered py-3">
            <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
          </div>
        </td>
      </tr>
      <tr *ngIf="!loading && total === 0">
        <td class="has-text-center" colspan="6">
          <span i18n="@@results.list.empty">No results found matching query.</span>
        </td>
      </tr>
      <tr *ngFor="let result of results.results; trackBy: trackByResult"
        [routerLink]="isDraft ? ['./', result.id, 'edit'] : ['./', selectedType, result.id]"
        pointer
      >
        <td>
          <span>{{result.id}}</span>
        </td>
        <td>
          <span>{{result.createdOn | date:'medium'}}</span>
        </td>
        <td>
          <span
            *ngIf="!result.error?.error"
            [class.has-text-warning]="!result.recalculatedOn"
            [class.has-text-success]="!!result.recalculatedOn"
          >{{(result.recalculatedOn | date:'medium') || 'N/A'}}</span>
          <a class="has-text-danger" *ngIf="result.error?.error" (click)="$event.stopPropagation(); showError = result">
            <fa-icon icon="exclamation-triangle"></fa-icon>
            <span class="is-pl-2">Error while recalculating</span>
          </a>
        </td>
        <td>
          <app-results-models-version *ngIf="!result.error?.error" [version]="result.config?.version"></app-results-models-version>
        </td>
        <td class="has-text-center is-hidden-mobile">
          <div
            class="dropdown is-right has-text-left"
            [class.is-active]="showActions === result"
            (clickOutside)="showActions = undefined"
          >
            <div class="dropdown-trigger" (click)="$event.stopPropagation(); toggleShowActions(result)">
              <button class="button is-small" aria-haspopup="true" aria-controls="actions-menu">
                <span class="icon is-small">
                  <fa-icon icon="ellipsis-v" aria-hidden="true"></fa-icon>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="actions-menu" role="menu">
              <div class="dropdown-content" (click)="$event.stopPropagation(); showActions = undefined">
                <a class="dropdown-item" (click)="showRecalculate = result" *ngIf="result.recalculatedOn">
                  <fa-icon icon="sync"></fa-icon>
                  <span class="pl-2">Re-run Calculations</span>
                </a>

                <a class="dropdown-item has-text-danger" (click)="showDelete = result">
                  <fa-icon icon="times-circle"></fa-icon>
                  <span class="pl-2">Delete</span>
                </a>
              </div>
            </div>
          </div>
        </td>
        <td class="has-text-right">
          <span class="pr-2">{{isDraft ? 'Edit' : 'Open'}}</span>
          <fa-icon class="is-align-middle" icon="angle-right" size="lg"></fa-icon>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="total > perPage">
        <td class="has-text-center" colspan="6">
          <ngb-pagination class="is-inline-block mt-3"
            aria-label="Results pagination"
            i18n-aria-label="@@results.list.pagination.aria-label"
            [collectionSize]="total" [pageSize]="perPage" [(page)]="page" (pageChange)="scrollTop(); filter()"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [ellipses]="true"
            [disabled]="loading"
          >
            <ng-template ngbPaginationPrevious>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angle-left"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationNext>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angle-right"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationFirst>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angles-left"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationLast>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angles-right"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationNumber let-page>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{page}}</span>
            </ng-template>
          </ngb-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<app-results-recalculate-confirm *ngIf="showRecalculate"
  [type]="selectedType" [id]="showRecalculate?.id"
  [config]="showRecalculate?.config?.config"
  (closed)="recalculateConfirmed($event)"
></app-results-recalculate-confirm>

<app-results-delete-confirm *ngIf="showDelete"
  [type]="selectedType" [id]="showDelete?.id"
  (closed)="deleteConfirmed($event)"
></app-results-delete-confirm>

<app-results-error-confirm *ngIf="showError"
  [error]="showError?.error?.stack"
  (closed)="showError = undefined"
></app-results-error-confirm>
