<ng-container *ngIf="latestVersion">
  <div class="tags has-addons" *ngIf="version; else na">
    <a class="tag is-info" (click)="$event.stopPropagation()" [href]="url" target="_blank">{{version}}</a>
    <ng-container *ngIf="latestVersion === version; else outdated">
      <ng-container *ngTemplateOutlet="latest"></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #na>
  Unknown. Please re-calculate.
</ng-template>

<ng-template #latest>
  <span class="tag is-success">latest version</span>
</ng-template>

<ng-template #outdated>
  <span class="tag is-warning">need recalculations</span>
</ng-template>
