<app-title title="Settings"></app-title>

<div class="columns is-vcentered is-variable is-1 mb-0">
  <div class="column pb-0 is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li class="is-active">
          <a aria-current="page">Settings</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column pb-0 is-narrow">
    <app-api-version></app-api-version>
    <app-ui-version></app-ui-version>
  </div>
</div>

<div class="columns my-3 is-justify-content-space-between is-vcentered is-multiline is-mobile">
  <div class="column"></div>
  <div class="column is-narrow">
    <a class="button is-secondary" routerLink="./config">
      <fa-icon icon="edit"></fa-icon>
      <span class="pl-2">Edit Configurations</span>
    </a>
  </div>
</div>

<div *ngIf="loading" class="has-text-center py-3">
  <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
</div>

<form *ngIf="form" [formGroup]="form" novalidate (submit)="save()">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="defaultFormat">
        <span>Default Data Format</span>
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="defaultFormat" id="defaultFormat">
              <option *ngFor="let key of DataFormat | keys" [value]="key.value">{{key.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal mt-5">
    <div class="field-label"></div>
    <div class="field-body">
      <button class="button is-primary" [disabled]="saving" type="submit">
        <fa-icon icon="save" [class.is-hidden]="saving"></fa-icon>
        <fa-icon icon="spinner" [pulse]="true" *ngIf="saving"></fa-icon>
        <span class="pl-2">Save</span>
      </button>
    </div>
  </div>
</form>
