<app-title title="Results"></app-title>

<div class="columns is-variable is-1 is-mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/results">Results</a>
        </li>
        <li class="is-active">
          <a aria-current="page">
            <span>{{(data?.original?.impact?.name || id) | ellipsis:50}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column is-narrow">
    <button class="button is-info" (click)="showReportIssue = true">
      <fa-icon icon="bug"></fa-icon>
      <span class="pl-2">Submit Feedback</span>
    </button>
  </div>
  <div class="column is-narrow">
    <div class="dropdown is-right"
      [class.is-active]="showActions"
      (clickOutside)="showActions = false"
    >
      <div class="dropdown-trigger" (click)="showActions = !showActions">
        <button class="button" aria-haspopup="true" aria-controls="actions-menu">
         <span>Options</span>
          <span class="icon is-small">
            <fa-icon icon="ellipsis-v" aria-hidden="true"></fa-icon>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="download-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" *ngIf="sourceUrl" [href]="sourceUrl" download="source.csv" target="_blank">
            <fa-icon class="mr-2" icon="download"></fa-icon>
            <span>Download Source (CSV)</span>
          </a>

          <a class="dropdown-item" *ngIf="impactsCSV" [href]="impactsCSV" download="results.csv">
            <fa-icon class="mr-2" icon="download"></fa-icon>
            <span>Download Results Summary (CSV)</span>
          </a>

          <hr class="navbar-divider">

          <a class="dropdown-item has-text-secondary" (click)="showRecalculate = true; showActions = false"
            *ngIf="metadata?.recalculatedOn"
          >
            <fa-icon icon="sync"></fa-icon>
            <span class="pl-2">Re-run Calculations</span>
          </a>

          <a class="dropdown-item has-text-danger" (click)="showDelete = true; showActions = false">
            <fa-icon icon="times-circle"></fa-icon>
            <span class="pl-2">Delete</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!loading; else loader">
  <div *ngIf="metadata?.error?.error" class="has-text-danger">
    <fa-icon icon="exclamation-triangle"></fa-icon>
    <span class="is-px-2">Error while recalculating.</span>
    <a class="has-text-danger" (click)="showError = true">Show error</a>
  </div>

  <div *ngIf="!metadata?.error?.error" class="columns is-variable is-1 is-mb-0">
    <div class="column is-narrow">
      <p class="is-size-7 has-text-grey-light" *ngIf="showRecalculated">
        <span *ngIf="metadata?.recalculatedOn">Recalculated on {{metadata?.recalculatedOn | date:'medium'}}</span>
        <span *ngIf="!metadata?.recalculatedOn">Not recalculated yet.</span>
        <span *ngIf="!isDefaultConfig" class="pl-1">using custom config <b>{{metadata?.config?.config}}</b></span>
      </p>

      <p class="is-size-7 has-text-grey-light" *ngIf="!showRecalculated">
        <span *ngIf="metadata?.createdOn">Uploaded on {{metadata?.createdOn | date:'medium'}}</span>
      </p>
    </div>
    <div class="column">
      <app-results-models-version [version]="currentVersion"></app-results-models-version>
    </div>
    <div class="column is-narrow">
      <div class="field is-relative">
        <input type="checkbox" class="switch is-small is-rounded"
          id="showRecalculated" name="showRecalculated" [(ngModel)]="showRecalculated"
          (change)="toggleDataState($event.target.checked)"
        >
        <label for="showRecalculated">
          <span>Recalculated version</span>
        </label>
      </div>
    </div>
  </div>

  <div class="tabs" *ngIf="impact">
    <ul>
      <li *ngFor="let tab of Tabs | keys"
        (click)="sectionClosed = {}; selectedTab = tab.value"
        [class.is-active]="selectedTab === tab.value"
      ><a>{{tab.value}}</a></li>
    </ul>
  </div>

  <div class="columns">
    <div class="column is-narrow navigation-menu no-print" [class.is-collapsed]="collapsed">
      <aside class="menu sticky">
        <button class="button collapse is-small is-white" (click)="collapsed = !collapsed">
          <fa-icon icon="angle-double-left" [class.is-hidden]="collapsed"></fa-icon>
          <fa-icon icon="angle-double-right" [class.is-hidden]="!collapsed"></fa-icon>
          <span class="ml-2" [class.is-hidden]="collapsed">Collapse</span>
        </button>
        <ul class="menu-list">
          <li *ngFor="let section of sections[this.selectedTab] | keys; let i = index">
            <a
              routerLink="./" [fragment]="section.key" queryParamsHandling="merge"
              [class.is-active]="isFragment(section.key)"
              [title]="section.value"
            >
              <span class="no-collapse">{{i + 1}}</span>
              <span class="pr-1">.</span>
              <span>{{section.value}}</span>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <ng-container *ngIf="selectedTab === Tabs.cycle">
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'cycleCompleteness',content:cycleCompleteness}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'cycleActivity',content:cycleActivity}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'cyclePractices',content:cyclePractices}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'cycleEmissions',content:cycleEmissions}"></ng-container>
      </ng-container>

      <ng-container *ngIf="selectedTab === Tabs.site">
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'siteMeasurements',content:siteMeasurements}"></ng-container>
      </ng-container>

      <ng-container *ngIf="selectedTab === Tabs.impact">
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'impactEmissions',content:impactEmissions}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'impactResourceUse',content:impactResourceUse}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'impactImpacts',content:impactImpacts}"></ng-container>
        <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'impactDriverChart',content:impactDriverChart}"></ng-container>
      </ng-container>

      <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'logs',content:logs}"></ng-container>
      <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'lookups',content:lookups}"></ng-container>
      <ng-container *ngTemplateOutlet="sectionTemplate;context:{section:'jsonld',content:jsonld}"></ng-container>
    </div>
  </div>
</ng-container>

<app-results-recalculate-confirm *ngIf="showRecalculate"
  [type]="type" [id]="id" [config]="metadata?.config?.config"
  (closed)="recalculateConfirmed($event)"
></app-results-recalculate-confirm>

<app-results-delete-confirm *ngIf="showDelete"
  [type]="type" [id]="id"
  (closed)="deleteConfirmed($event)"
></app-results-delete-confirm>

<app-results-error-confirm *ngIf="showError"
  [error]="metadata?.error?.stack"
  (closed)="showError = false"
></app-results-error-confirm>

<he-issue-confirm *ngIf="showReportIssue" [isCommunity]="true" (closed)="showReportIssue = false"></he-issue-confirm>

<ng-template #loader>
  <div class="has-text-center py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>

<ng-template #sectionTemplate let-section="section" let-content="content">
  <div class="anchor" [attr.id]="section"></div>

  <section class="panel" [class.is-secondary]="isFragment(section)">
    <div class="panel-heading"
      (click)="sectionClosed[section] = !sectionClosed[section]" pointer
    >
      <div class="columns is-mobile is-vcentered">
        <span class="column is-narrow">
          <fa-icon icon="angle-down" [class.is-hidden]="sectionClosed[section]"></fa-icon>
          <fa-icon icon="angle-right" [class.is-hidden]="!sectionClosed[section]"></fa-icon>
        </span>
        <span class="column">{{sections[this.selectedTab][section]}}</span>
      </div>
    </div>
    <div [class.is-hidden]="sectionClosed[section]">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </section>
</ng-template>

<ng-template #cycleCompleteness>
  <he-cycles-completeness [cycles]="[cycle]" [dataState]="selectedDataState"></he-cycles-completeness>
</ng-template>

<ng-template #cycleActivity>
  <he-cycles-activity
    [originalValues]="[data?.original?.cycle]" [cycles]="[cycle]" [dataState]="selectedDataState"
  ></he-cycles-activity>
</ng-template>

<ng-template #cyclePractices>
  <he-cycles-practices
    [originalValues]="[data?.original?.cycle]" [cycles]="[cycle]" [dataState]="selectedDataState"
  ></he-cycles-practices>
</ng-template>

<ng-template #cycleEmissions>
  <he-cycles-emissions
    [originalValues]="[data?.original?.cycle]" [cycles]="[cycle]" [dataState]="selectedDataState"
  ></he-cycles-emissions>
</ng-template>

<ng-template #impactEmissions>
  <he-impact-assessments-products
    key="emissionsResourceUse" [filterTermTypes]="[TermTermType.emission]"
    [impactAssessments]="[impact]" [cycles]="[cycle]"
    [dataState]="selectedDataState"
  ></he-impact-assessments-products>
</ng-template>

<ng-template #impactResourceUse>
  <he-impact-assessments-products
    key="emissionsResourceUse" [filterTermTypes]="[TermTermType.resourceUse]"
    [impactAssessments]="[impact]" [cycles]="[cycle]"
    [dataState]="selectedDataState"
  ></he-impact-assessments-products>
</ng-template>

<ng-template #impactImpacts>
  <he-impact-assessments-products
    key="impacts" [filterTermTypes]="[TermTermType.characterisedIndicator]"
    [impactAssessments]="[impact]" [cycles]="[cycle]"
    [dataState]="selectedDataState"
    [enableFilterMethodModel]="true"
  ></he-impact-assessments-products>
</ng-template>

<ng-template #impactDriverChart>
  <he-impact-assessments-graph
    [impactAssessments]="[impact]"
    [dataState]="selectedDataState"
  ></he-impact-assessments-graph>
</ng-template>

<ng-template #siteMeasurements>
  <he-sites-measurements
    [originalValues]="[data?.original?.site]" [sites]="[site]" [dataState]="selectedDataState"
  ></he-sites-measurements>
</ng-template>

<ng-template #logs>
  <he-node-logs-file [class.is-hidden]="selectedTab !== Tabs.cycle" class="has-background-light" [node]="cycle"></he-node-logs-file>
  <he-node-logs-file [class.is-hidden]="selectedTab !== Tabs.site" class="has-background-light" [node]="site"></he-node-logs-file>
  <he-node-logs-file [class.is-hidden]="selectedTab !== Tabs.impact" class="has-background-light" [node]="impact"></he-node-logs-file>
</ng-template>

<ng-template #lookups>
  <he-node-missing-lookup-factors [class.is-hidden]="selectedTab !== Tabs.cycle" [node]="cycle"></he-node-missing-lookup-factors>
  <he-node-missing-lookup-factors [class.is-hidden]="selectedTab !== Tabs.site" [node]="site"></he-node-missing-lookup-factors>
  <he-node-missing-lookup-factors [class.is-hidden]="selectedTab !== Tabs.impact" [node]="impact"></he-node-missing-lookup-factors>
</ng-template>

<ng-template #jsonld>
  <div *ngIf="selectedTab === Tabs.cycle">
    <ng-container *ngTemplateOutlet="jsonldView; context: {$implicit: cycle}"></ng-container>
  </div>
  <div *ngIf="selectedTab === Tabs.site">
    <ng-container *ngTemplateOutlet="jsonldView; context: {$implicit: site}"></ng-container>
  </div>
  <div *ngIf="selectedTab === Tabs.impact">
    <ng-container *ngTemplateOutlet="jsonldView; context: {$implicit: impact}"></ng-container>
  </div>
</ng-template>

<ng-template #jsonldView let-data>
  <div class="is-relative">
    <div class="copy-clipboard">
      <div class="field">
        <div class="control">
          <he-clipboard clipboardClass="button is-secondary is-small"
            [value]="data" [hideText]="true" [icon]="['far', 'clone']" size="lg" rotate="180"
          ></he-clipboard>
        </div>
      </div>
    </div>

    <pre class="pl-3"><code>{{data | json}}</code></pre>
  </div>
</ng-template>
