pre,
he-node-logs-file ::ng-deep pre,
he-node-missing-lookup-factors ::ng-deep .data-table-container {
  max-height: 500px;
  overflow-y: auto;
}

.navigation-menu {
  &.is-collapsed {
    span.no-collapse {
      display: block;
      text-align: center;
    }
  }
}

.menu {
  font-size: 0.9rem;
  overflow-x: hidden;
  // transform: translate3d(0, 0, 0);
  // transition: width 0.3s, max-width 0.3s, min-width 0.3s;
}
