<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Recalculate</p>
      <button class="delete" aria-label="close" (click)="closed.next(false)"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-info is-light" role="alert">
        <p>
          <span>You can create your custom configurations</span>
          <a class="pl-1" routerLink="/settings/config">here</a>.
        </p>
      </div>

      <p class="mb-3">
        Please select the configuration you would like to use or use the default one:
      </p>

      <div class="field is-horizontal mb-3">
        <div class="field-label is-normal">
          <label class="label" for="config">
            <span>Config</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="string" class="input"
                [(ngModel)]="config" id="config"
                [disabled]="loading"
                [ngbTypeahead]="suggestConfig"
                [focusFirst]="true"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="has-text-danger" *ngIf="error">
        <span>There was an error during the calculations:</span>
        <app-results-error [error]="error"></app-results-error>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirm()" [disabled]="loading">
        <fa-icon class="pr-2" icon="spinner" [pulse]="true" *ngIf="loading"></fa-icon>
        <span>Recalculate</span>
      </button>
      <button class="button is-ghost" (click)="closed.next(false)">Cancel</button>
    </footer>
  </div>
</div>
