<app-title *ngIf="id" [title]="'Edit ' + id"></app-title>

<div class="columns is-variable is-1 mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/settings">Settings</a>
        </li>
        <li>
          <a routerLink="/settings/config">Configs</a>
        </li>
        <li>
          <a *ngIf="id" [routerLink]="['/settings', 'config', id]">{{id}}</a>
        </li>
        <li class="is-active">
          <a aria-current="page">
            <span class="pr-1">Edit</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <ng-container *ngIf="canEdit">
    <div class="column is-narrow">
      <button type="button" class="button is-primary" (click)="update()" [disabled]="saving">
        <fa-icon icon="save" [class.is-hidden]="saving"></fa-icon>
        <fa-icon icon="spinner" [pulse]="true" *ngIf="saving"></fa-icon>
        <span class="pl-2" i18n="@@update">Update</span>
      </button>
    </div>
    <div class="column is-narrow">
      <button type="button" class="button is-danger" (click)="showDelete = true" [disabled]="saving">
        <fa-icon icon="times-circle" [class.is-hidden]="saving"></fa-icon>
        <fa-icon icon="spinner" [pulse]="true" *ngIf="saving"></fa-icon>
        <span class="pl-2" i18n="@@delete">Delete</span>
      </button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="configs">
  <section class="panel" *ngFor="let config of configs | keys">
    <div class="panel-heading"
      (click)="configClosed[config.key] = !configClosed[config.key]" pointer
    >
      <div class="columns is-mobile is-vcentered">
        <span class="column is-narrow">
          <fa-icon icon="angle-down" [class.is-hidden]="configClosed[config.key]"></fa-icon>
          <fa-icon icon="angle-right" [class.is-hidden]="!configClosed[config.key]"></fa-icon>
        </span>
        <span class="column">{{config.key}}</span>
        <div class="column is-narrow is-align-self-center" *ngIf="hasOverride(config.key)"
          (click)="$event.stopPropagation(); reset(config.key)" pointer
        >
          <span class="px-2">
            <fa-icon icon="times"></fa-icon>
            <span class="pl-2 is-size-6" i18n="@@reset">Reset to original</span>
          </span>
        </div>
      </div>
    </div>
    <div class="p-3" [class.is-hidden]="configClosed[config.key]">
      <app-settings-config-edit
        [oldConfig]="config.value.default" [newConfig]="config.value.config" [editable]="canEdit"
        (configChanged)="setConfig($event, config.key)"
      ></app-settings-config-edit>
    </div>
  </section>
</ng-container>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>

<app-settings-config-delete-confirm *ngIf="showDelete" [id]="id" (closed)="deleteConfirmed($event)"></app-settings-config-delete-confirm>
