<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Delete</p>
      <button class="delete" aria-label="close" (click)="closed.next(false)"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-3 has-text-danger">
        You are about to delete the draft with id <code>{{id}}</code>. Do you confirm?
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="confirm()">
        <fa-icon class="pr-2" icon="spinner" [pulse]="true" *ngIf="deleting"></fa-icon>
        <span>Delete</span>
      </button>
      <button class="button is-ghost" (click)="closed.next(false)">Cancel</button>
    </footer>
  </div>
</div>
