<div class="columns is-variable is-1">
  <div class="column">
    <p class="mb-3">
      <span i18n="@@results.total">Showing</span>
      <span *ngIf="nodes?.length > perPage" class="pl-1">{{progressOffset + 1}} - {{progressOffset + perPage}} of</span>
      <span class="pl-1">{{nodes?.length}} {{'node' | pluralize:nodes?.length}}</span>
    </p>
  </div>
  <div class="column is-narrow">
    <div class="field has-addons">
      <div class="control" *ngIf="showSelectConfig">
        <span class="button is-light is-static">Select config</span>
      </div>
      <div class="control" *ngIf="showSelectConfig">
        <input type="string" class="input"
          [(ngModel)]="config" id="config"
          [disabled]="loading"
          [ngbTypeahead]="suggestConfig"
          [focusFirst]="true"
        >
      </div>
      <div class="control">
        <button class="button is-primary" type="button"
          [disabled]="loading || validating || processing"
          (click)="submit()"
        >
          <fa-icon icon="check" [class.is-hidden]="processing"></fa-icon>
          <fa-icon icon="spinner" [pulse]="true" *ngIf="processing"></fa-icon>
          <span class="pl-2" i18n="@@calculate">Calculate</span>
        </button>
      </div>
    </div>
  </div>
  <div class="column is-narrow" *ngIf="draft">
    <button class="button is-secondary" type="button"
      [disabled]="loading || validating  || processing"
      (click)="saveDraft()"
    >
      <fa-icon icon="save" [class.is-hidden]="processing"></fa-icon>
      <fa-icon icon="spinner" [pulse]="true" *ngIf="processing"></fa-icon>
      <span class="pl-2" i18n="@@save">Save</span>
    </button>
  </div>
</div>

<div class="card mb-5" *ngIf="summaryData.length">
  <header class="card-header" (click)="showSummary = !showSummary" pointer>
    <div class="card-header-title">Errors and Warnings Summary</div>
    <span class="card-header-icon has-text-secondary" aria-label="open / close">
      <span class="icon">
        <fa-icon icon="angle-down" [class.is-hidden]="!showSummary"></fa-icon>
        <fa-icon icon="angle-left" [class.is-hidden]="showSummary"></fa-icon>
      </span>
    </span>
  </header>

  <div class="card-content summary-content p-0" [class.is-hidden]="!showSummary">
    <div class="table-container" *bindOnce="summaryData">
      <table class="table is-fullwidth is-hoverable is-striped mb-0">
        <thead>
          <tr>
            <th class="width-auto">
              <span i18n="@@files-error.summary.header.url">Node</span>
            </th>
            <th class="width-auto">
              <span i18n="@@files-error.summary.header.level">Level</span>
            </th>
            <th>
              <span i18n="@@files-error.summary.header.message">Message</span>
            </th>
            <th class="width-auto">
              <span i18n="@@files-error.summary.header.count">Count</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of summaryData">
            <td class="width-auto">
              <span>{{data.path}}</span>
            </td>
            <td class="width-auto">
              <span class="has-text-{{data.level === 'error' ? 'danger' : 'warning'}}">{{data.level}}</span>
            </td>
            <td>
              <p *ngIf="data.terms">
                <span class="is-size-7">Terms: </span>
                <span class="is-size-7" [innerHtml]="data.terms"></span>
              </p>
              <span [innerHTML]="data.formattedMessage"></span>
            </td>
            <td class="width-auto">
              <span>{{data.count}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <p class="has-text-danger" *ngIf="hasValidationError">
      <fa-icon class="pr-1" icon="exclamation-triangle"></fa-icon>
      <span>Please fix all the errors highlighted in red first then try again.</span>
    </p>

    <p class="has-text-success" *ngIf="!validating && noValidationErrors">
      <span>No validation errors detected.</span>
    </p>
  </div>
  <div class="column is-narrow">
    <span>You can also</span>
    <a class="px-1 has-text-underline" (click)="validate()">Validate</a>
    <span>the data before submitting it.</span>
  </div>
</div>

<div *ngIf="loading || validating" class="has-text-center py-3">
  <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
</div>

<div class="has-text-danger" *ngIf="error">
  <span>There was an error during the submission:</span>
  <app-results-error [error]="error"></app-results-error>
</div>

<div class="my-3" *ngIf="!loading && !validating">
  <div *ngFor="let node of nodes | slice:progressOffset:progressLimit; let i = index">
    <div class="card-actions-container is-relative mb-5">
      <!-- <div class="card-actions field has-addons">
        <div class="control">
          <he-popover-confirm position="left"
            message="This will remove the Node completely. Do you confirm?"
            (confirmed)="removeNode(i)"
          >
            <button class="button is-small is-danger" [disabled]="processing"
              [ngbTooltip]="'Remove ' + node.type" placement="top"
            >
              <fa-icon icon="times" size="sm"></fa-icon>
            </button>
          </he-popover-confirm>
        </div>
      </div> -->

      <he-files-form class="is-block pt-3"
        [schemas]="schemas" [node]="node" [nodeMap]="nodeMap"
        [editable]="!loading && !validating && !processing" [deepEditable]="true"
        [showSuggestedDefaultProperties]="false"
        [errors]="nodeErrors(i)"
        (nodeChanged)="nodeChanged($event, i + progressOffset)"
      ></he-files-form>
    </div>
  </div>

  <div class="has-text-center my-5" *ngIf="nodes?.length > perPage">
    <ngb-pagination class="is-inline-block"
      aria-label="Nodes pagination"
      i18n-aria-label="@@results.new.pagination.aria-label"
      [collectionSize]="nodes.length"
      [pageSize]="perPage" [(page)]="page" (pageChange)="scrollTop()"
      [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [ellipses]="true"
    >
      <ng-template ngbPaginationPrevious>
        <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
          <fa-icon icon="angle-left"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbPaginationNext>
        <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
          <fa-icon icon="angle-right"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbPaginationFirst>
        <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
          <fa-icon icon="angles-left"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbPaginationLast>
        <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
          <fa-icon icon="angles-right"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbPaginationNumber let-page>
        <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{page}}</span>
      </ng-template>
    </ngb-pagination>
  </div>
</div>
