:host ::ng-deep {
  &json-editor,
  &json-editor .jsoneditor,
  &json-editor > div,
  &json-editor jsoneditor-outer {
    height: 75vh;
  }

  .jsondiffpatch-delta {
    max-height: 75vh;
    overflow-y: auto;
    width: 100%;
  }
}
