<div class="columns">
  <div class="column is-half" *ngIf="editable">
    <ng-container *ngIf="!!diffHtml">
      <div [innerHTML]="diffHtml"></div>
    </ng-container>
    <ng-container *ngIf="!diffHtml">
      <p>You are using the original configuration.</p>
      <p>You can edit the configuration on the right and update when finished.</p>
    </ng-container>
  </div>
  <div class="column" [class.is-half]="editable">
    <json-editor class="right-editor"
      [options]="editorOptions"
      [(ngModel)]="newConfig"
      (change)="reloadDiffs()"
    ></json-editor>
  </div>
</div>
