<app-title title="Convert"></app-title>

<div class="columns is-variable is-1 mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/results">Results</a>
        </li>
        <li class="is-active">
          <a aria-current="page">Upload</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column is-narrow">
    <button class="button is-info" (click)="showReportIssue = true">
      <fa-icon icon="bug"></fa-icon>
      <span class="pl-2">Submit Feedback</span>
    </button>
  </div>
</div>

<div class="notification is-danger is-light mb-3" role="alert" *ngIf="!isChrome">
  <p>
    <fa-icon class="pr-2" icon="exclamation-triangle"></fa-icon>
    <span>We recommend using the Chrome navigator for best compatibilities with the Hestia upload feature.</span>
  </p>
</div>

<div class="notification is-info" role="alert">
  <span i18n="@@files.new.extensions">We currently only support the following file formats:</span>
  <span class="tag is-success ml-2" *ngFor="let ext of supportedExtensions">{{ext}}</span>
</div>

<p class="mt-3">Choose a CSV file to convert to Hestia format</p>
<p class="is-size-7"><i>Note: conversion might be incomplete, please review the data in the Wizard after upload.</i></p>

<div class="my-3">
  <div class="field">
    <div class="control is-expanded">
      <div class="file has-name is-fullwidth">
        <label class="file-label" for="file">
          <input type="file" class="file-input" id="file"
            multiple="false" [accept]="supportedExtensions.join(',')"
            (change)="addFiles($event.target)"
            [class.is-danger]="submitted && !filename"
          >
          <span class="file-cta">
            <span class="file-icon">
              <fa-icon icon="upload"></fa-icon>
            </span>
            <span class="file-label">
              <span>Choose file</span>
            </span>
          </span>
          <span class="file-name">{{filename}}</span>
        </label>
      </div>
    </div>
  </div>

  <p class="mb-2 is-size-7" *ngIf="id"><i>Your file will be uploaded under the draft named <b>{{id}}</b></i></p>

  <div class="columns">
    <div class="column is-narrow">
      <label class="label" for="dataFormat">
        <span i18n="@@files.new.dataFormat.label">Data Format</span>
      </label>
    </div>
    <div class="column">
      <div class="control">
        <div class="select is-small">
          <select [(ngModel)]="dataFormat" name="dataFormat">
            <option *ngFor="let format of DataFormat | keys" [value]="format.value">{{format.key}}</option>
          </select>
        </div>
      </div>

      <p class="mt-2 is-size-7" [ngSwitch]="dataFormat">
        <ng-container *ngSwitchCase="DataFormat.Hestia">
          <span class="pr-1">Before uploading, please read carefully the</span>
          <a [href]="baseUrl + '/upload#formatting'" target="_blank">
            <span>formatting instructions</span>
            <fa-icon class="pl-2" icon="external-link-alt" size="sm"></fa-icon>
          </a>
        </ng-container>
        <ng-container *ngSwitchCase="DataFormat.PooreNemecek">
          <span class="pr-1">Before uploading, please read carefully the</span>
          <a [href]="gitHome + '/hestia-convert-poore-nemecek#mapping'" target="_blank">
            <span>documentation of the Poore & Nemeck converter</span>
            <fa-icon class="pl-2" icon="external-link-alt" size="sm"></fa-icon>
          </a>
        </ng-container>
        <ng-container *ngSwitchCase="DataFormat.OpenLCA">
          <span class="pr-1">Warning: this is a work in progress and might not work as expected.</span>
          <span class="pr-1">If you have any issue, please report them</span>
          <a [href]="gitHome + '/hestia-convert-olca/-/issues/new?issuable_template=bug'" target="_blank">
            <span>here</span>
            <fa-icon class="pl-2" icon="external-link-alt" size="sm"></fa-icon>
          </a>
        </ng-container>
      </p>
    </div>
  </div>

  <div class="mt-3">
    <button class="button is-primary" [disabled]="loading" type="button" (click)="submit()">
      <fa-icon icon="cloud-upload-alt" [class.is-hidden]="loading"></fa-icon>
      <fa-icon icon="spinner" [pulse]="true" *ngIf="loading"></fa-icon>
      <span class="pl-2">Upload</span>
    </button>
  </div>
</div>

<div class="my-3 has-text-danger" *ngIf="error">
  <ng-container [ngSwitch]="dataFormat">
    <ng-container *ngSwitchCase="DataFormat.Hestia">
      <he-files-upload-errors class="is-my-3" [error]="error"></he-files-upload-errors>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <p class="mb-2">There was an error parsing the CSV. Please verify the correct "Data Format" has been selected and there are no errors in your file.</p>
      <p class="mb-2">If the error persists, please use the "Submit Feedback" button to log an issue, attach the file and paste the details below:</p>
      <div class="is-relative">
        <div class="copy-clipboard">
          <he-clipboard clipboardClass="button is-secondary is-small"
            [value]="error" [hideText]="true" [icon]="['far', 'clone']" size="lg" rotate="180"
          ></he-clipboard>
        </div>

        <pre><code>{{error}}</code></pre>
      </div>
    </ng-container>
  </ng-container>
</div>

<he-issue-confirm *ngIf="showReportIssue" [isCommunity]="true"
  [repository]="Repository.poorenemeck"
  (closed)="showReportIssue = false"
></he-issue-confirm>
