<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Delete</p>
      <button class="delete" aria-label="close" (click)="closed.next(false)"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-3 has-text-danger">
        You are about to delete the <code>{{type}}</code> with id <code>{{id}}</code>. Do you confirm?
      </p>

      <p *ngIf="error" class="has-text-danger has-text-centered">
        <ng-container [ngSwitch]="error">
          <ng-container *ngSwitchDefault>
            <span>An unexpected error occurred:</span>
            <span class="is-pl-1">{{ error }}</span>
          </ng-container>
        </ng-container>
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="confirm()" [disabled]="loading">
        <fa-icon class="pr-2" icon="spinner" [pulse]="true" *ngIf="loading"></fa-icon>
        <span>Delete</span>
      </button>
      <button class="button is-ghost" (click)="closed.next(false)">Cancel</button>
    </footer>
  </div>
</div>
