<div class="m-3 columns is-align-items-end is-vcentered">
  <div class="notification is-primary is-light" role="alert" *ngIf="visible">
    <button class="delete" aria-label="delete" (click)="visible = false">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="is-size-7">
      <strong>Version Update Available</strong>
    </p>
    <p class="is-size-7">
      <a [href]="gitUrl + '/-/releases'" target="_blank">
        <span>View {{version?.latest}} Release Notes</span>
        <fa-icon class="no-print ml-2" icon="external-link-alt" size="sm"></fa-icon>
      </a>
    </p>
  </div>
</div>
