<ng-container *ngIf="apiVersionService.versionData$ | async as version">
  <span class="pr-1 is-size-7">API Version:</span>
  <a class="is-size-7" [href]="versionUrl(version)" target="_blank">
    <span>{{version.version}}</span>
    <span *ngIf="version.commitSha">-{{version.commitSha}}</span>
    <span *ngIf="version.date" class="pl-1">({{version.date}})</span>
    <span *ngIf="version.isPrerelease; else externalLink" class="pl-1">(pre-release)</span>
  </a>
</ng-container>

<ng-template #externalLink>
  <fa-icon class="pl-1" icon="external-link-alt"></fa-icon>
</ng-template>
