<app-title *ngIf="id" [title]="'Config: ' + id"></app-title>

<div class="columns is-variable is-1 mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/settings">Settings</a>
        </li>
        <li>
          <a routerLink="/settings/config">Configs</a>
        </li>
        <li class="is-active">
          <a aria-current="page">
            <span class="pr-1" *ngIf="id">{{id}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <ng-container *ngIf="canEdit">
    <div class="column is-narrow">
      <a class="button is-secondary" routerLink="./edit">
        <fa-icon icon="edit"></fa-icon>
        <span class="pl-2" i18n="@@edit">Edit</span>
      </a>
    </div>
    <div class="column is-narrow">
      <button type="button" class="button is-danger" (click)="showDelete = true" [disabled]="saving">
        <fa-icon icon="times-circle" [class.is-hidden]="saving"></fa-icon>
        <fa-icon icon="spinner" [pulse]="true" *ngIf="saving"></fa-icon>
        <span class="pl-2" i18n="@@delete">Delete</span>
      </button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="configs">
  <section class="panel" *ngFor="let config of configs | keys">
    <div class="panel-heading"
      (click)="configClosed[config.key] = !configClosed[config.key]" pointer
    >
      <div class="columns is-mobile is-vcentered">
        <span class="column is-narrow">
          <fa-icon icon="angle-down" [class.is-hidden]="configClosed[config.key]"></fa-icon>
          <fa-icon icon="angle-right" [class.is-hidden]="!configClosed[config.key]"></fa-icon>
        </span>
        <span class="column">{{config.key}}</span>
      </div>
    </div>
    <div class="p-3" [class.is-hidden]="configClosed[config.key]">
      <he-engine-orchestrator-edit [config]="config.value.config"></he-engine-orchestrator-edit>
    </div>
  </section>
</ng-container>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>

<app-settings-config-delete-confirm *ngIf="showDelete" [id]="id" (closed)="deleteConfirmed($event)"></app-settings-config-delete-confirm>
