<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button class="delete" aria-label="close" (click)="closed.next(false)"></button>
    </header>
    <section class="modal-card-body">
      <span>There was an error during the calculations:</span>
      <app-results-error [error]="error"></app-results-error>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-ghost" (click)="closed.next(false)">Close</button>
    </footer>
  </div>
</div>
