<app-title title="Editing Draft"></app-title>

<div class="columns is-variable is-1 is-mt-desktop-3 mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/results">Results</a>
        </li>
        <li class="is-active">
          <a aria-current="page">{{(id + '.csv') | ellipsis:50}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column is-narrow">
    <div class="dropdown is-right"
      [class.is-active]="showActions"
      (clickOutside)="showActions = false"
    >
      <div class="dropdown-trigger" (click)="showActions = !showActions">
        <button class="button" aria-haspopup="true" aria-controls="actions-menu">
          <span>Options</span>
          <span class="icon is-small">
            <fa-icon icon="ellipsis-v" aria-hidden="true"></fa-icon>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="download-menu" role="menu">
        <div class="dropdown-content">
          <ng-container *ngIf="sourceUrl">
            <a class="dropdown-item" *ngIf="sourceUrl" [href]="sourceUrl" download="source.csv" target="_blank">
              <fa-icon class="mr-2" icon="download"></fa-icon>
              <span>Download Source (CSV)</span>
            </a>

            <a class="dropdown-item"
              (click)="$event.stopPropagation()"
              routerLink="/results/upload" [queryParams]="{id:id}"
            >
              <fa-icon icon="upload"></fa-icon>
              <span class="pl-2">Upload new version</span>
            </a>

            <hr class="navbar-divider">
          </ng-container>

          <a class="dropdown-item has-text-danger" (click)="showDelete = true">
            <fa-icon icon="times-circle"></fa-icon>
            <span class="pl-2">Delete</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notification is-info is-light" role="alert">
  <p>You are currently editing a Draft.</p>
  <p>You can save the Draft and Calculate it when you are done editing.</p>
</div>

<div *ngIf="!loading; else loader">
  <ng-container *ngIf="draft?.nodes.length">
    <app-results-new-form [nodes]="draft?.nodes" [draft]="draft"></app-results-new-form>
  </ng-container>
</div>

<app-results-draft-delete-confirm [id]="id" *ngIf="showDelete" (closed)="deleteConfirmed($event)"></app-results-draft-delete-confirm>

<ng-template #loader>
  <div class="has-text-center py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>
