<app-title title="Configs"></app-title>

<div class="columns is-vcentered is-variable is-1 mb-0">
  <div class="column pb-0 is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/settings">Settings</a>
        </li>
        <li class="is-active">
          <a aria-current="page">Configs</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column pb-0 is-narrow">
    <app-api-version></app-api-version>
    <app-ui-version></app-ui-version>
  </div>
</div>

<form class="columns my-3 is-justify-content-space-between is-vcentered is-multiline is-mobile" novalidate
  (submit)="!loading && runSearch()"
  >
  <div class="column is-sm mr-sm-1 is-full-mobile">
    <div class="field has-addons">
      <div class="control is-expanded has-icons-right">
        <input type="string" class="input search-input is-secondary"
          id="search" name="search"
          placeholder="Search by name"
          i18n-placeholder="@@settings-config.list.search.input"
          [(ngModel)]="search"
          [disabled]="loading"
        >
        <a class="icon is-small is-right"
          [class.is-hidden]="!search"
          (click)="search = ''; runSearch();"
        >
          <fa-icon icon="times"></fa-icon>
        </a>
      </div>
      <div class="control">
        <button class="button is-secondary is-no-shadow" [disabled]="loading" type="submit">
          <fa-icon icon="search"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="column is-narrow">
    <button type="button" class="button is-primary" (click)="showNew = true">
      <fa-icon icon="plus-circle"></fa-icon>
      <span class="pl-2" i18n="@@new">New Config</span>
    </button>
  </div>
</form>

<div class="table-actions columns is-vcentered my-2">
  <div class="column">
    <p class="has-text-secondary is-size-7 has-text-weight-semibold mt-2 mb-0">
      <span i18n="@@results.total">Showing</span>
      <span *ngIf="total > perPage" class="pl-1">{{offset + 1}} - {{offset + results.results.length}} of</span>
      <span class="px-1">{{total}} {{'config' | pluralize:total}}</span>
    </p>
  </div>

  <div class="column is-narrow has-text-right">
    <div class="dropdown is-right has-text-left"
      [class.is-active]="showSortBy"
      (clickOutside)="showSortBy = false"
    >
      <div class="dropdown-trigger" (click)="showSortBy = !showSortBy">
        <button class="button is-ghost" [class.is-active]="showSortBy"
          aria-haspopup="true" aria-controls="sort-menu"
        >
          <span class="icon is-small">
            <fa-icon icon="sort-amount-up-alt" aria-hidden="true"></fa-icon>
          </span>
          <span class="pl-2">Sort</span>
        </button>
      </div>
      <div class="dropdown-menu" id="sort-menu" role="menu">
        <div class="dropdown-content" (click)="showSortBy = false">
          <a class="dropdown-item"
            [class.is-active]="sortBy === 'id'"
            (click)="sort('id')"
          >
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')"></fa-icon>
            <span>ID</span>
          </a>
          <a class="dropdown-item"
            [class.is-active]="sortBy === 'createdOn'"
            (click)="sort('createdOn')"
          >
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')"></fa-icon>
            <span>Updated On</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>
          <span>Id</span>
        </th>
        <th>
          <span>Updated On</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="3">
          <ng-container *ngTemplateOutlet="loader"></ng-container>
        </td>
      </tr>
      <tr *ngFor="let result of results.results; trackBy: trackByResult"
        [routerLink]="['./', result.id]" pointer
      >
        <td>
          <span>{{result.id === defaultConfigId ? 'Hestia default configuration' : result.id}}</span>
        </td>
        <td>
          <span>{{result.createdOn | date:'medium'}}</span>
        </td>
        <td class="has-text-right">
          <span class="pr-2">View</span>
          <fa-icon class="is-align-middle" icon="angle-right" size="lg"></fa-icon>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="total > perPage">
        <td class="has-text-center" colspan="3">
          <ngb-pagination class="is-inline-block mt-3"
            aria-label="Configs pagination"
            i18n-aria-label="@@results.list.pagination.aria-label"
            [collectionSize]="total" [pageSize]="perPage" [(page)]="page" (pageChange)="scrollTop(); filter()"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [ellipses]="true"
            [disabled]="loading"
          >
            <ng-template ngbPaginationPrevious>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angle-left"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationNext>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angle-right"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationFirst>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angles-left"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationLast>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                <fa-icon icon="angles-right"></fa-icon>
              </span>
            </ng-template>
            <ng-template ngbPaginationNumber let-page>
              <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{page}}</span>
            </ng-template>
          </ngb-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>

<app-settings-config-new-confirm *ngIf="showNew" (closed)="createConfirmed($event)"></app-settings-config-new-confirm>
