<app-title title="Wizard"></app-title>

<div class="columns is-variable is-1 mb-0">
  <div class="column is-full-mobile">
    <nav class="breadcrumb mt-3 mb-2" aria-label="breadcrumbs">
      <ul>
        <li>
          <a routerLink="/results">Results</a>
        </li>
        <li class="is-active">
          <a aria-current="page">Wizard</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column is-narrow">
    <button class="button is-info" (click)="showReportIssue = true">
      <fa-icon icon="bug"></fa-icon>
      <span class="pl-2">Submit Feedback</span>
    </button>
  </div>
</div>

<div class="notification is-info is-light" role="alert">
  <p>You can fill in your Cycle data here and press submit when you are done.</p>
  <p>The calculations will then be available in the <a routerLink="/results">Results</a> page.</p>
</div>

<ng-container *ngIf="!loading; else loader">
  <app-results-new-form [nodes]="[cycle]" [draft]="draft"></app-results-new-form>
</ng-container>

<ng-template #loader>
  <div class="has-text-center py-3">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </div>
</ng-template>

<he-issue-confirm *ngIf="showReportIssue" [isCommunity]="true"
  [repository]="Repository.community"
  (closed)="showReportIssue = false"
></he-issue-confirm>
