<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Create</p>
      <button class="delete" aria-label="close" (click)="closed.next(undefined)"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-3">Please give a name to your new custom configuration.</p>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="id">
            <span i18n="@@name">Name</span>
            <span class="has-text-danger pl-1">*</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="field">
              <div class="control is-expanded">
                <input type="string" class="input"
                  [(ngModel)]="id" name="id"
                  [class.is-danger]="submitted && !id"
                  placeholder="Configuration name"
                >
              </div>
            </div>
            <p class="help is-danger" i18n="@@forms.errors.required"
              *ngIf="submitted && !id"
            >This field is required</p>
            <p class="help is-danger"
              *ngIf="submitted && !formValid"
            >This name is reserved</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirm()" [disabled]="loading">
        <fa-icon class="pr-2" icon="spinner" [pulse]="true" *ngIf="loading"></fa-icon>
        <span i18n="@@create">Create</span>
      </button>
      <button class="button is-ghost" (click)="closed.next(undefined)">Cancel</button>
    </footer>
  </div>
</div>
