<app-navbar></app-navbar>

<section class="container is-py-2 is-mx-4 is-mx-desktop-auto mb-5">
  <router-outlet></router-outlet>
</section>

<he-toast></he-toast>
<app-check-new-version></app-check-new-version>
