<div class="is-relative" *ngIf="error">
  <div class="copy-clipboard">
    <div class="field" [class.has-addons]="issueLink">
      <div class="control">
        <he-clipboard clipboardClass="button is-secondary is-small"
          ngbTooltip="Copy error" placement="bottom"
          [value]="error" [hideText]="true" [icon]="['far', 'clone']" size="lg" rotate="180"
        ></he-clipboard>
      </div>
      <div class="control" *ngIf="issueLink">
        <a class="button is-info is-small" [href]="issueLink" target="_blank">
          <fa-icon icon="bug"></fa-icon>
          <span class="is-pl-2">Report bug</span>
        </a>
      </div>
    </div>
  </div>

  <pre><code>{{error | json}}</code></pre>
</div>
